@import '../common/variables';

.footer {
  background-color: $darkBackground;
  color: $lightFont;
  font-size: 16px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__contacts {
  display: flex;
  align-items: center;
  width: 350px;
  margin: 5px;
}

.footer__icon {
  height: 20px;
  width: auto;
  padding-right: 10px;
}
